[submodule "/Users/gilbertsahumada/hackathon-projects/scaffold-eth-aleph/aleph-hackathon/packages/hardhat/lib"]
	path = /Users/gilbertsahumada/hackathon-projects/scaffold-eth-aleph/aleph-hackathon/packages/hardhat/lib
	url = https://github.com/ava-labs/teleporter
